###> composer ###
/vendor/
###< composer ###

###> phpstorm ###
.idea
###< phpstorm ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
.phpunit.result.cache
###< phpunit/phpunit ###
